<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>埋め込み視聴画面</title>
    <link rel=stylesheet href="/css/embed.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap-responsive.min.css">
<!--    <script src="/js/lib/bootstrap.min.js"></script> -->
    <script>
      var __lt_event__ = <%- JSON.stringify(event) %>;
      var __lt_messages__ = <%- JSON.stringify(messages) %>;
      <%
         if (user) {
      %>
      var __lt_oauth_succeeded__ = true;
      var __lt_logged_in_user__ = <%- JSON.stringify(user) %>;
      <%
         }
      %>
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <iframe id="ustream-player" src="http://www.ustream.tv/embed/13924849" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
        </div>
        <div class="span4 messages">
          <script id="message-template" type="text/x-template">
            <article class="message">
              <header>
                <div class="author-icon-column">
                  <img src="{{= author.photo }}" class="author-icon">
                </div>
                <div class="author">
                  <div class="author-inner">
                    <h1 class="author-displayName">{{= author.displayName }}</h1>
                    <span class="author-name">
                      <a target="_blank" href="https://twitter.com/{{= author.name }}">@{{= author.name }}</a>
                    </span>
                  </div>
                </div>
                <div class="timestamp">{{= ts }}</div>
              </header>
              <div class="text">
                {{= text }}
              </div>
            </article>
          </script>
        </div>
      </div>
      <div class="row-fluid">
        <div id="chart-wrapper" class="span8">
          <canvas id="zap-chart"></canvas>
          <ul id="zapper-icons"></ul>
        </div>
        <div id="control-panel" class="span4">
          <textarea id="message-input" placeholder="イベントについて感じたことをなんでも書きましょう！" maxlength="200"></textarea>
          <button id="post-message-button">つぶやく</button>
          <button id="zap-button">(いいね!)</button>
          <button id="logout-button">ログアウト</button>
        </div>
      </div>
      <div id="login-button-container">
        <a href="#" id="login-button"><img src="/img/sign-in-with-twitter-gray.png"></a>
        <p class="notice">
          これらのボタンを使用するには、ツイッターアカウントが必要です。
        </p>
      </div>
    </div>
    <script src="/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/underscore.string.min.js"></script>
    <script src="/js/lib/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/zapper.js"></script>
    <script src="/js/events/embed.js"></script>
  </body>
</html>
