<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>埋め込み視聴画面</title>
    <link rel=stylesheet href="/css/embed.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap-responsive.min.css">
<!--    <script src="/js/lib/bootstrap.min.js"></script> -->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <iframe id="ustream-player" src="http://www.ustream.tv/embed/13891999" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
        </div>
        <div class="span4 messages">
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>


          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>
          <article class="message">
            <header>
              <div class="author-icon-column">
                <img src="https://si0.twimg.com/profile_images/1825924611/___12-02-11_9.18___7_bigger.jpg" class="author-icon">
              </div>
              <div class="author">
                <div class="author-inner">
                  <h1 class="author-displayName">白石 俊平</h1>
                  <span class="author-name">
                    <a href="">@Shumpei</a>
                  </span>
                </div>
              </div>
              <div class="timestamp">1時間前</div>
            </header>
            <div class="text">
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
              あいうえおかきくけこさしすせそたちつてとなにぬねの
            </div>
          </article>


        </div>
      </div>
      <div class="row-fluid">
        <div id="chart-wrapper" class="span8">
          <canvas id="zap-chart">
          </canvas>
        </div>
        <div id="control-panel" class="span4">
          <textarea id="message"></textarea>
          <button id="post-message-button">つぶやく</button>
          <button id="zap-button">(いいね!)</button>
          <p class="notice">
            これらのボタンを使用するには、ツイッターアカウントが必要です。
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
