<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>埋め込み視聴画面</title>
    <link rel=stylesheet href="/css/embed.css">
    <!--
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/css/lib/bootstrap-responsive.min.css">
        -->
    <!--    <script src="/js/lib/bootstrap.min.js"></script> -->
    <script>
      var __lt_event__ = <%- JSON.stringify(event) %>;
      var __lt_messages__ = <%- JSON.stringify(messages) %>;
      <%
         if (user) {
         %>
      var __lt_oauth_succeeded__ = true;
      var __lt_logged_in_user__ = <%- JSON.stringify(user) %>;
      <%
         }
         %>
    </script>
  </head>
  <body class="clearfix">
    <div id="left">
      <div id="embed-player-container">
        <div id="tabs-embed-player">
          <ul>
            <li><a href="#tab-ustream">Ustream</a></li>
            <li><a href="#tab-slide">Slide</a></li>
          </ul>
          <div class="tabs-spacer"></div>
          <div id="tab-ustream">
            <iframe class="embed-player" src="http://www.ustream.tv/embed/13924849" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
          </div>
          <div id="tab-ustream">
            <iframe class="embed-player" src="http://www.slideshare.net/slideshow/embed_code/18530079" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
          </div>
        </div>
                <!--

        <iframe id="live-player" src="http://www.ustream.tv/embed/13924849" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
        -->
        <iframe id="live-player" src="http://www.slideshare.net/slideshow/embed_code/18530079" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
      </div>
      <div id="chart-container">
        <canvas id="zap-chart"></canvas>
        <ul id="zapper-icons"></ul>
      </div>
    </div>

    <div id="right">
      <div id="message-area">
        <div id="messages">
          <% include ../message-template %>
        </div>
        <form id="post-form" onsubmit="return false">
          <textarea id="message-input" placeholder="イベントについて感じたことをなんでも書きましょう！" maxlength="200" required></textarea>
          <button id="post-message-button" type="button">つぶやく</button>
        </form>
      </div>
      <div id="buttons">
        <button id="zap-button">(いいね!)</button>
        <button id="logout-button">ログアウト</button>
      </div>
    </div>
    
    <div id="login-button-container">
      <a href="#" id="login-button"><img src="/img/sign-in-with-twitter-gray.png"></a>
      <p class="notice">
        これらのボタンを使用するには、ツイッターアカウントが必要です。
      </p>
    </div>
    <script src="/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/underscore.string.min.js"></script>
    <script src="/js/lib/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/zapper.js"></script>
    <script src="/js/events/embed.js"></script>
  </body>
</html>
