<!DOCTYPE html>
<html>
<head>
    <title>カッコいいやつら | Zapper(Beta)</title>
    <link rel="stylesheet" href="/css/lib/jquery.powertip.css"/>
    <link rel="stylesheet" href="/css/index.css"/>

    <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    -->
    <script src="/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>

</body>
</html>
