<!DOCTYPE html>

<meta charset="UTF-8">
<title>イベントをつくる</title>

<form action="/admin/events" method="POST">
  <input type="hidden" value="_method" value="put">
  <div class="field">
    <label for="title">タイトル</label>
    <input id="title" name="title">
  </div>
  <div class="field">
    <label for="start">開始日時</label>
    <input id="start" name="start" type="datetime">
  </div>
  <div class="field">
    <label for="end">終了日時</label>
    <input id="end" name="end" type="datetime">
  </div>
  <button>送信</button>
</form>
