@charset "UTF-8";

@import "common.scss";

html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

// =========== スプラッシュ画面 ============//

#splash-screen {
    background: url('/img/splash-bg.png') no-repeat center center {
        size: contain;
    };
    width: 100%;
    height: 100%;
}

// =========== ログイン画面 ============//
#login-screen {
    display: none;
}
#login-screen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -79px;
    font-size: .8em;
    width: 158px;
    height: 110px;
}



// =========== メイン画面 ============//
#zapper-main {
    display: none;
    width: 100%;
    height: 100%;
    background: url('/img/bodyBg.png') top center repeat-x #000;
}
@mixin header-row($h) {
    @extend .clearfix;
    // ヘッダのレイアウトは、ここの高さに依存している。
    height: $h;
    line-height: $h;
    width: 100%;
}
$title-row-height: 66px;
$icons-row-height: 34px;
$header-height: $title-row-height + $icons-row-height;

#title-row {
    @include header-row($title-row-height);
    #zapper-header-container {
        margin: 0;
        float: left;
        width: 100%;
        h1 {
            margin: 0 40px;
            text-align: center;
            font: {
                size: 1.1em;
                weight: normal;
            }
            color: #c7c7c7;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    #settings-button {
        $w: 40px;
        display: inline-block;
        text-align: center;
        width: $w;
        margin-left: -$w;
        float: left;
        img {
            vertical-align: middle;
        }
    }
}

#icons-row {
    @include header-row($icons-row-height);
    $icon-width: 32px;
    .icon-container {
        display: inline-block;
        width: $icon-width;
        text-align: center;
        float: left;
        .icon {
            vertical-align: middle;
        }
    }
    .left, .right {
        // どちらにもアイコンを2つおける
        width: $icon-width * 2;
        float: left;
        height: $icons-row-height;
    }
    .left {
        margin-right: -$icon-width * 2;
    }
    .right {
        margin-left: -$icon-width * 2;
    }
    .center {
        width: 100%;
        float: left;
        height: $icons-row-height;
    }
}
#msg-notifier {
    $font-size: 8px;
    font-size: $font-size;
    position: relative;
    .msg-count {
        $line-height: $font-size + 4px;
        position: absolute;
        margin: 0;
        padding: 1px;
        border-radius: 2px;
        top: 0;
        right: -0.5em;
        min-width: 1em;
        max-width: 4em;
        height: $line-height;
        line-height: $line-height;
        background-color: #e50012;
        color: white;
    }
    .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url('/img/msg_off.png') no-repeat center center;
    }
    .icon.active {
        background-image: url('/img/msg_on.png');
    }
}
#logout-button .icon {
    width: 20px;
}
#user-icon .icon {
    width: 32px;
}
#zapper-main-header {
    z-index: 1;
    background: url('/img/headBg.png') no-repeat top center;
    background-size: 320px;
    height:104px;
}
#zapper-main .main {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
#buttons-container {
    $button-size: 275px;
    
    text-align: center;
    height: $button-size;
    width: $button-size;
    margin-left: -$button-size / 2;
    position: absolute;
    left: 50%;
//    bottom: 20px;
    background: url('/img/btnBg_sprite.png') no-repeat;
    background-position: 0 0;
}
// ボタンの元画像の縦横比
$zap-button-original-aspect: 227 / 360;
$zap-button-container-width: 180px;
$zap-button-container-height: $zap-button-container-width * $zap-button-original-aspect;
$zap-button-margin-top: 56px;

// ボタンの元画像の縦横比
$msg-button-original-aspect: 108 / 360;
$msg-button-container-width: 180px;
$msg-button-container-height: $msg-button-container-width * $zap-button-original-aspect;
$msg-button-margin-top: $zap-button-margin-top + $zap-button-container-height;

#zap-button-container {
    background: url('/img/zapBtn_off.png') no-repeat;
    width: $zap-button-container-width;
    height: $zap-button-container-height;
    background-size: contain;
    margin: $zap-button-margin-top auto 0;
    &:active {
        background-image: url('/img/zapBtn_on.png');
    }
    #zap-button {
        $button-width: $zap-button-container-width * .7;
        $button-height: $button-width * $zap-button-original-aspect;
        margin-top: $zap-button-container-height - $button-height - 8;
        text-indent: -9999px;
        border: 0 solid transparent;
//        background-color: rgba(255, 255, 255, .5);
        background-color: transparent;
        width: $button-width;
        height: $button-height;
    }
}
#msg-button-container {
    background: url('/img/msgBtn_off.png') no-repeat;
    width: $msg-button-container-width;
    height: $msg-button-container-height;
    background-size: contain;
    margin: 0 auto;
    &:active {
        background-image: url('/img/msgBtn_on.png');
    }
    #msg-button {
        $button-width: $msg-button-container-width * .7;
        $button-height: $button-width * $msg-button-original-aspect;
        text-indent: -9999px;
        border: 0 solid transparent;
//        background-color: rgba(255, 255, 255, .5);
        background-color: transparent;
        width: $button-width;
        height: $button-height;
    }
}

#message-dialog {
    $bg-color: black;
    $border-color: #5c5c5c;
    $w: 300px;
    box-sizing: border-box;
    position: absolute;
    background: $bg-color;
    width: $w;
    margin-bottom: 20px;
    margin-left: -$w / 2;
    border: 2px solid $border-color {
        radius: 2px;
    };
    top: 20px;
    left: 50%;
    z-index: 10000000;
    padding: 8px;
    display: none;
    clear: both;
    .message-input {
        height: 48px;
        width: 100%;
        border-radius: 3px;
        display: block;
    }
    &.active {
        display: block;
    }
    &:after {
        content: '';
        position: absolute;
        border-top: 10px solid $bg-color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        bottom: -8px;
        left: 150px;
    }

    &:before {
        content: '';
        position: absolute;
        border-top: 10px solid $border-color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        bottom: -12px;
        left: 150px;
    }
    .send-message-button {
        background-color: #1aafe7;
        color: white;
        border: 2px solid #149cd0;
        border-radius: 3px;
    }
    .cancel-button {
        background-color: black;
        color: white;
        border: 2px solid $border-color;
        border-radius: 3px;
    }
    .dialog-buttons {
        text-align: right;
    }
    .remained-chars {
        color: white;
        font-size: .9em;
    }
    .count {
        color: lightgray;
        float: left;
        font: {
            size: 1.6em;
            weight: bold;
            style: italic;
            family: serif;
        }
    }
}

#messages {
    $bg-color: black;
    $border-color: #5c5c5c;
    $w: 300px;
    overflow-y: scroll;
    height: 360px;
    box-sizing: border-box;
    position: absolute;
    background: $bg-color;
    width: $w;
    margin-top: 20px;
    border: 2px solid $border-color {
        radius: 2px;
    };
    top: -10px;
    left: 8px;
    z-index: 10000000;
    padding: 8px;
    clear: both;
    display: none;
    &:after {
        content: '';
        position: absolute;
        border-bottom: 10px solid $bg-color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        top: -8px;
        left: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        border-bottom: 10px solid $border-color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        top: -12px;
        left: 10px;
    }
}

@import 'message.scss';
