<!DOCTYPE html>
<html>
<head>
    <title>カッコいいやつらアプリ</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/lib/jquery.oauthpopup.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    
</head>
<body>
<a href="#" id="loginCommand">Twitterでログイン</a>
<button id="coolButton"><img src="/img/cool-icon.png" width="22"> (いいね!)</button>
<style>
  #coolButton * {
    vertical-align: middle;
  }
</style>
</body>
</html>
