<script id="message-template" type="text/x-template">
<article class="message">
  <header>
    <div class="author-icon-column">
      <img src="{{= author.photo }}" class="author-icon">
    </div>
    <div class="author">
      <div class="author-inner">
        <h1 class="author-displayName">{{= author.displayName }}</h1>
        <span class="author-name">
          <a target="_blank" href="https://twitter.com/{{= author.name }}">@{{= author.name }}</a>
        </span>
      </div>
    </div>
    <div class="timestamp">{{= ts }}</div>
  </header>
  <div class="text">
    {{= text }}
  </div>
</article>
</script>
