/* line 1, ../sass/common.scss */
.clearfix {
  *zoom: 1;
}

/* line 6, ../sass/common.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 12, ../sass/common.scss */
.clearfix:after {
  clear: both;
}
