@charset 'utf-8';

@import 'common.scss';
@import 'message.scss';

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    padding-top: 8px;
}
$ustream-player-width: 608px;
$ustream-player-height: 368px;

#ustream-player {
    width: $ustream-player-width;
    height: $ustream-player-height;
}
.messages {
    height: $ustream-player-height;
    overflow-y: scroll;
}
#chart-wrapper {
    text-align: center;
}

$zapper-icon-size: 32px;

#zap-chart {
    width: $ustream-player-width;
    height: 220px - $zapper-icon-size - 4;
    vertical-align: center;
    border: 1px solid gray;
}

#zapper-icons {
    @extend .clearfix;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        float: right;
        .icon {
            width: $zapper-icon-size;
            height: $zapper-icon-size;
            border-radius: 4px;
        }
    }
}
$controls-width: 90%;
#message-input {
    width: $controls-width;
}

#zap-button, #post-message-button {
    width: $controls-width;
    margin-bottom: 8px;
}
#zap-button {
    height: 60px;
    background-color: #c10000;
    color: white;
    border: 0;
}
#post-message-button {
    height: 40px;
    border: 0;
}
#control-panel {
    text-align: center;
}

#login-button-container {
    display: none;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    text-align: center;
    padding-top: 50px;
}
#login-button {
    vertical-align: center;
}