@charset "UTF-8";
.clearfix, #title-row, #icons-row {
  *zoom: 1; }

.clearfix:before, #title-row:before, #icons-row:before,
.clearfix:after,
#title-row:after,
#icons-row:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after, #title-row:after, #icons-row:after {
  clear: both; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

#splash-screen {
  background: url("/img/splash-bg.png") no-repeat center center;
    background-size: contain;
  width: 100%;
  height: 100%; }

#login-screen {
  display: none; }

#login-screen-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -55px 0 0 -79px;
  font-size: .8em;
  width: 158px;
  height: 110px; }

#zapper-main {
  display: none;
  width: 100%;
  height: 100%;
  background: url("/img/bodyBg.png") no-repeat;
    background-size: 100% 100%; }

#title-row {
  height: 52px;
  line-height: 52px;
  width: 100%; }
  #title-row #zapper-header-container {
    margin: 0;
    float: left;
    width: 100%; }
    #title-row #zapper-header-container h1 {
      margin: 0 40px;
      text-align: center;
      font-size: 1.1em;
      font-weight: normal;
      color: #c7c7c7;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  #title-row #settings-button {
    display: inline-block;
    text-align: center;
    width: 40px;
    margin-left: -40px;
    float: left; }
    #title-row #settings-button img {
      vertical-align: middle; }

#icons-row {
  height: 34px;
  line-height: 34px;
  width: 100%; }
  #icons-row .icon-container {
    display: inline-block;
    width: 32px;
    text-align: center;
    float: left; }
    #icons-row .icon-container .icon {
      vertical-align: middle; }
  #icons-row .left, #icons-row .right {
    width: 64px;
    float: left;
    height: 34px; }
  #icons-row .left {
    margin-right: -64px; }
  #icons-row .right {
    margin-left: -64px; }
  #icons-row .center {
    width: 100%;
    float: left;
    height: 34px; }

#msg-notifier {
  font-size: 8px;
  position: relative; }
  #msg-notifier .msg-count {
    position: absolute;
    margin: 0;
    padding: 1px;
    border-radius: 2px;
    top: 0;
    right: -0.5em;
    min-width: 1em;
    max-width: 4em;
    height: 12px;
    line-height: 12px;
    background-color: #e50012;
    color: white; }
  #msg-notifier .icon {
    width: 20px; }

#logout-button .icon {
  width: 20px; }

#user-icon .icon {
  width: 32px; }

#zapper-main-header {
  z-index: 1; }

#zapper-main .main {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

#buttons-container {
  text-align: center;
  height: 275px;
  width: 275px;
  margin-left: -137.5px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  background: url("/img/btnBg_00.png") no-repeat;
    background-size: contain; }

#zap-button-container {
  background: url("/img/zapBtn_off.png") no-repeat;
  width: 180px;
  height: 113.5px;
  background-size: contain;
  margin: 56px auto 0; }
  #zap-button-container:active {
    background-image: url("/img/zapBtn_on.png"); }
  #zap-button-container #zap-button {
    margin-top: 26.05px;
    text-indent: -9999px;
    border: 0 solid transparent;
    background-color: transparent;
    width: 126.0px;
    height: 79.45px; }

#msg-button-container {
  background: url("/img/msgBtn_off.png") no-repeat;
  width: 180px;
  height: 113.5px;
  background-size: contain;
  margin: 0 auto; }
  #msg-button-container:active {
    background-image: url("/img/msgBtn_on.png"); }
  #msg-button-container #msg-button {
    text-indent: -9999px;
    border: 0 solid transparent;
    background-color: transparent;
    width: 126.0px;
    height: 38.15px; }

#message-dialog {
  box-sizing: border-box;
  position: absolute;
  background: black;
  width: 300px;
  margin-bottom: 20px;
  margin-left: -150px;
  border: 2px solid #5c5c5c;
    border-radius: 2px;
  top: 20px;
  left: 50%;
  z-index: 10000000;
  padding: 8px;
  display: none;
  clear: both; }
  #message-dialog .message-input {
    height: 48px;
    width: 100%;
    border-radius: 3px;
    display: block; }
  #message-dialog.active {
    display: block; }
  #message-dialog:after {
    content: '';
    position: absolute;
    border-top: 10px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -8px;
    left: 150px; }
  #message-dialog:before {
    content: '';
    position: absolute;
    border-top: 10px solid #5c5c5c;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -12px;
    left: 150px; }
  #message-dialog .send-message-button {
    background-color: #1aafe7;
    color: white;
    border: 2px solid #149cd0;
    border-radius: 3px; }
  #message-dialog .cancel-button {
    background-color: black;
    color: white;
    border: 2px solid #5c5c5c;
    border-radius: 3px; }
  #message-dialog .dialog-buttons {
    text-align: right; }
  #message-dialog .remained-chars {
    color: white;
    font-size: .9em; }
  #message-dialog .count {
    color: lightgray;
    float: left;
    font-size: 1.6em;
    font-weight: bold;
    font-style: italic;
    font-family: serif; }

#messages {
  height: 360px;
  box-sizing: border-box;
  position: absolute;
  background: black;
  width: 300px;
  margin-top: 20px;
  border: 2px solid #5c5c5c;
    border-radius: 2px;
  top: -10px;
  left: 8px;
  z-index: 10000000;
  padding: 8px;
  clear: both; }
  #messages:after {
    content: '';
    position: absolute;
    border-bottom: 10px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -8px;
    left: 10px; }
  #messages:before {
    content: '';
    position: absolute;
    border-bottom: 10px solid #5c5c5c;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -12px;
    left: 10px; }
