@charset "utf-8";

.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
	visibility:hidden;
}
.clearfix{
	display: inline-block;
} 
/* Hides from IE Mac */
* html .clearfix{
	height: 1%;
}
.clearfix{
	display:block;
}
/* End Hack */ 



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#splash-screen {
    background: url('/img/logo.png') center center no-repeat;
    width: 100%;
    height: 100%;
}

#lt-logo {
    position: absolute;
    top: 58%;
    left: 50%;
}


#login-screen {
    display: none;
}
#login-screen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -79px;
    font-size: .8em;
    width: 158px;
    height: 110px;
}
#main-screen {
    display: none;
}
#zap-chart {
/*    display: none; */
}

.user-thumbnail {
    width: 48px;
    height: 48px;
    display: table-cell;
}
#command-area {
    width: 100%;
/*    height: 48px; */
    position: absolute;
    bottom: 0;
    display: none;
}
#command-area > * {
    vertical-align: middle;
}
#command-area .command-button {
    width: 100%;
    height: 48px;
}

.zap-messages {
    position: absolute;
    z-index: 10000;
    width: 100%;
    opacity: .5;
    background-color: black;
    color: white;
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}
.zap-messages li {
/*    max-height: 120px; */
    border-top: 1px inset gray;
    padding: 8px;
}
.zap-author, .zap-message {
    float: left;
}

.zap-message {
    vertical-align: top;
    padding: 0 8px;
    margin: 0;
}
#display-messages-field {
    text-align: right;
}
#message-dialog {
    box-sizing: border-box;
    position: absolute;
    background: white;
/*    height: 0px; */
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid #999;
    top: 0;
    left: 0;
    z-index: 10000000;
    padding: 8px;
    display: none;
}

#message-dialog .message-input {
    height: 48px;
    width: 90%;
}

#message-dialog-inner:after {
    content: '';
    position: absolute;
    border-top: 10px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    left: 100px;
}

#message-dialog-inner:before {
    content: '';
    position: absolute;
    border-top: 10px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -11px;
    left: 100px;
}