.message {
    padding: 4px;
    border: 1px solid lightgray;
    border-bottom: 0;
    background-color: white;
    // clearfix
    *zoom: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    :before, :after {
        display: table;
        line-height: 0;
        content: "";
    }
    :after {
        clear: both;
    }
    // end clearfix
    
    $author-icon-column-width: 40px;
    $timestamp-column-width: 60px;
    .author-icon-column {
        width: $author-icon-column-width;
        text-align: center;
        margin-right: -$author-icon-column-width;
        float: left;
    }
    .author-icon {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        display: block;
    }
    .author {
        float: left;
        width: 100%;
    }
    .author-inner {
        margin: 0 $timestamp-column-width 0 $author-icon-column-width;
    }
    .author-displayName {
        font-size: 1.0em;
        line-height: 1.1em;
        margin: 0;
        padding: 0;
    }
    .timestamp {
        width: $timestamp-column-width;
        margin-left: -$timestamp-column-width;
        float: left;
    }
}
